@page {
  size: A5;
}

@import url(//fonts.googleapis.com/css?family=Google+Sans:400,400italic);

body {
  font-family: 'Google Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.headline {
  text-align: center;

  * {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: normal;
  }

  .summary {
    font-variant: small-caps;
    font-size: x-small;
  }

  .ava {
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
}

.contact-list {
  text-align: center;
  font-size: x-small;
  margin: 0 auto;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
  }

  .svg-icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
  }

  .grey {
    color: #828282;
  }
}

.section {
  h1 {
    font-size: x-large;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      border-bottom: solid 1px;
      bottom: 0;
      width: 100%;
      height: 0;
      line-height: 0;
    }
  }

  .entry {
    margin-top: 1em;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .name {
    font-weight: bold;
  }

  .location {
    font-style: italic;
    color: #5D5D5D;
  }

  .positions {

    .position {
      margin-top: .5em;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .title {
          font-variant: small-caps;
          color: #5D5D5D;
        }

        .time {
          font-style: italic;
          color: #999999;
        }
      }

      .description {
        color: #999999;
      }
    }
  }

  .skills {
    display: table;

    .group {
      display: table-row;

      .description {
        color: #999999;
      }

      .level {
        display: table-cell;
        text-align: right;
        font-weight: bold;
        margin: 0;
        padding: 0 1em;
      }
    }
  }
}
