@page {
  size: A5;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.headline {
  text-align: center;

  * {
    // border: 1px solid;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: normal;
    margin-bottom: -0.2em;
  }

  ul {
    display: inline-flex;
    font-variant: small-caps;
    font-size: x-small;

    li {
      list-style-type: none;
      position: relative;
    }

    > :not(:first-child) {
      margin-left: 1em;

      &:before {
        content: "\2219";
        font-size: 2.5em;
        line-height: 0;
        position: absolute;
        top: .23em;
        left: -0.35em;
      }
    }
  }

  .ava {
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

}

.contact-list {
  text-align: center;
  font-size: x-small;
  margin: 0 auto;
  padding: 0;

  li {
    list-style-type: none;
    display: inline;
  }

  .svg-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: middle;
  }

  .grey {
    color: #828282;
  }
}

.experience {
  h1 {
    border-bottom: solid 1px;
  }

  .company {
    .info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .name {
    font-size: xx-large;
  }

  .location {
  }

  .positions {
    margin-left: 1em;

    .position {
      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .title {
        font-variant: small-caps;
      }

      .time {
        font-style: italic;
      }
    }
  }
}
