@charset "utf-8";

@import "minima";

p, ul, ol {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

$on-apps:          400px !default;

.donate-services {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  @include media-query($on-apps) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  }

  > .title {
    font-size: x-large;
    margin-bottom: 20px;
  }

  > .description {
    margin-bottom: 20px;
    font-size: large;
  }

  > .service {
    margin-bottom: 20px;

    > .description {
      float: left;
      max-width: 50%;

      @include media-query($on-apps) {
        max-width: 40%;
      }
    }

    > .button {
      float: right;
      width: 120px;
      text-align: center;
      padding: 10px 25px;
      border-radius: 5px;
      background-color: #333;
      color: #FFF;
      text-decoration: none;
      margin-left: 20px;
    }
  }
}

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

.social-media-list {
  display: table;
  margin: 0 auto;

  li {
    float: left;
    margin: 5px 10px 5px 0;
    padding-top: 5px;

    a {
      display: block;
      padding: 7.5px;
      border: 1px solid #e8e8e8;

      &:hover {
        display: block;
        padding: 7.5px;
        border: 1px solid black;

        svg {
          color: black;
        }
      }
    }
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img[src*="#social"] {
  float: right;
  width: auto;
  height: 40px;
  margin-right: 5px;
}
