---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1>Hi!</h1>

  <img src="/assets/img/about/ava.jpeg" />

  <br />

  <div>
    I'm Slava Bezborodov, a web developer, a team leader at <a href="https://cian.ru">cian.ru</a>.
    Check out <a href="https://wiki.slava.bz">my wiki</a> where I share everything I know.
  </div>

  <br /><h1>Events</h1>

  <h2>2020</h2>

  <ul>
    <li><a href="https://conf.python.ru/moscow/2020/abstracts/7107">Bookclub about "Fluent Python"</a> at <a href="https://conf.python.ru/moscow/2020">Russian Python Week</a> online conference</li>
    <li><a href="https://conf.python.ru/moscow/2020/abstracts/7101">Bookclub about "Test-Driven-Development in Python"</a> at <a href="https://conf.python.ru/moscow/2020">Russian Python Week</a>  online conference</li>
  </ul>

  <br /><h1>Posts</h1>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>